#Taller Pandas: Operaciones con Pandas

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png" width="50%" style="text-align:center">

---

In [1]:
# Vamos a crear el DataFrame a partir de los datos de los municipios de Colombia
import pandas as pd
import math

muns = pd.read_csv("https://raw.githubusercontent.com/BrayanTorres2/Algoritmos-y-programacion/refs/heads/main/Data/municipios.csv", index_col=0)
muns.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1122 entries, 404 to 103
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nombre           1122 non-null   object
 1   poblaci贸nUrbana  1122 non-null   int64
 2   poblaci贸nRural   1122 non-null   int64
 3   departamento     1122 non-null   object
 4   esCapital        1122 non-null   int64
dtypes: int64(3), object(2)
memory usage: 52.6+ KB

In [2]:
muns.head(5)

,nombre,poblaci贸nUrbana,poblaci贸nRural,departamento,esCapital
c贸digo,,,,,
404,Abejorral,6724,12471,Antioquia,0
178,brego,17287,21076,Norte de Santander,0
1090,Abriaqu铆,738,1337,Antioquia,0
89,Acac铆as,60918,11130,Meta,0
705,Acand铆,5259,4246,Choc贸,0

In [3]:
muns.iloc[0:5]

,nombre,poblaci贸nUrbana,poblaci贸nRural,departamento,esCapital
c贸digo,,,,,
404,Abejorral,6724,12471,Antioquia,0
178,brego,17287,21076,Norte de Santander,0
1090,Abriaqu铆,738,1337,Antioquia,0
89,Acac铆as,60918,11130,Meta,0
705,Acand铆,5259,4246,Choc贸,0

In [4]:
# Presente la estad铆stica descriptiva de la informaci贸n del dataframe
muns.describe()

       poblaci贸nUrbana  poblaci贸nRural    esCapital
count     1.122000e+03     1122.000000  1122.000000
mean      3.363703e+04    10198.901961     0.028520
std       2.715733e+05    11719.567160     0.166529
min       0.000000e+00      182.000000     0.000000
25%       1.895500e+03     3697.250000     0.000000
50%       4.995000e+03     6738.000000     0.000000
75%       1.306500e+04    12722.000000     0.000000
max       8.063991e+06   173143.000000     1.000000

In [5]:
# Hallar la cantidad de municipios en el DataFrame
num_municipios = len(muns)

assert num_municipios == 1122

print("Cantidad de municipios =", num_municipios)

Cantidad de municipios = 1122

In [6]:
# Determinar el promedio de la poblaci贸n rural de todos los municipios del pa铆s
prom = muns.poblaci贸nRural.mean()

assert math.isclose(10198.901961, prom, rel_tol=1e-6)
print("Prueba superada ")

Prueba superada

In [11]:
# Halle la cantidad total de municipio del departamento de Amazonas
n = (muns["departamento"]== "Amazonas").sum()

print(f"Hay {n} municipios en Amazonas")
assert n == 11
print("Prueba superada ")

Hay 11 municipios en Amazonas
Prueba superada

In [12]:
# Escriba una funci贸n que reciba el nombre de un departamento y que retorne cu谩ntos municipios hay
# en el departamento con ese nombre.
def municipios_departamento(muns: pd.DataFrame, nombre: str) -> int:
    n = (muns["departamento"]==nombre).sum()
    return n

# Pruebas de la funci贸n anterior
assert municipios_departamento(muns, "Cundinamarca") == 117
assert municipios_departamento(muns, "Boyac谩") == 123
assert municipios_departamento(muns, "Vichada") == 4
print("Prueba superada ")

Prueba superada

In [16]:
# Escriba una expresi贸n que permita encontrar los nombres de los municipios que tienen
# menos de 500 habitantes en la poblaci贸n rural
m = muns[muns["poblaci贸nRural"] < 500]["nombre"]

# Prueba
assert m.sort_values().to_list() == ['La Guadalupe', 'Santa Luc铆a', 'Soplaviento', 'Suan']
print("Prueba superada ")

Prueba superada

In [17]:
# Cual es la suma total de la poblaci贸n urbana de todos los municipios
pob_urb = muns["poblaci贸nUrbana"].sum()

# Prueba
assert pob_urb == 37_740_751
print("Prueba superada ")

Prueba superada

In [18]:
# Hallar la suma de la poblaci贸n urbana de los municipios de los departamentos
# del eje cafetero: Caldas, Quindio o Risaralda
pob_eje_cafetero = muns[muns["departamento"].isin(["Caldas", "Quindio", "Risaralda"])]["poblaci贸nUrbana"].sum()

# Prueba
assert pob_eje_cafetero == 1_471_055
print("Prueba superada ")

Prueba superada

In [19]:
# Encontrar el nombre del municipio que es la capital (esCapital == 1) del departamento de Casanare
capital_casanare = muns[(muns["departamento"] == "Casanare") & (muns["esCapital"] == 1)]["nombre"].iloc[0]

In [20]:
# Encontrar cuantos municipios tienen una poblaci贸n urbana inferior al promedio
# de la poblaci贸n urbama de todo el pais
prom_poblacion_urbana = muns["poblaci贸nUrbana"].mean()
cant_muns_pobl_inf_prom = (muns["poblaci贸nUrbana"] < prom_poblacion_urbana).sum()

# Prueba
assert cant_muns_pobl_inf_prom == 998
print("Prueba superada ")

Prueba superada

In [21]:
# Presentar el nombre y problaci贸n urbana de los municipios cuya poblaci贸n urbana est茅 entre el mill贸n y los tres millones
# de habitantes.
jugadores_entre_1_y_3_millones = muns[(muns["poblaci贸nUrbana"] >= 1_000_000) & (muns["poblaci贸nUrbana"] <= 3_000_000)][["nombre"]]

In [22]:
# Presentar toda la informaci贸n de aquellos municipios donde la poblaci贸n rural supere a la poblaci贸n urbana
muns_rural_mayor_urbana = muns[muns["poblaci贸nRural"] > muns["poblaci贸nUrbana"]]

muns_rural_mayor_urbana.head()

,nombre,poblaci贸nUrbana,poblaci贸nRural,departamento,esCapital
c贸digo,,,,,
404,Abejorral,6724,12471,Antioquia,0
178,brego,17287,21076,Norte de Santander,0
1090,Abriaqu铆,738,1337,Antioquia,0
215,Acevedo,6515,27098,Huila,0
323,Ach铆,4193,19258,Bol铆var,0

In [23]:
# Cuantas capitales hay en el dataframe
num_capitales = (muns["esCapital"] == "S铆").sum()
print("Cantidad de capitales:", num_capitales)

Cantidad de capitales: 0

In [21]:
# Determinar cu谩ntos capitales tiene una poblaci贸n inferior a los 100 mil habitantes
a=muns[(muns.escapital==1) & (muns.poblacionUrbana< 100_000)]
print(len(a))

AttributeError: 'DataFrame' object has no attribute 'escapital'